@font-face {
  font-family: 'OpenLight';
  font-weight: 300;
  font-style: normal;
  src: url("./fonts/Light/OpenSans-Light.eot");
  src: url("./fonts/Light/OpenSans-Light.eot?#iefix") format("embedded-opentype"), url("./fonts/Light/OpenSans-Light.woff2") format("woff2"), url("./fonts/Light/OpenSans-Light.woff") format("woff"), url("./fonts/Light/OpenSans-Light.ttf") format("truetype"), url("./fonts/Light/OpenSans-Light.svg#OpenSansLight") format("svg");
}
@font-face {
  font-family: 'Open Sans';
  font-weight: 300;
  font-style: italic;
  src: url("./fonts/LightItalic/OpenSans-LightItalic.eot");
  src: url("./fonts/LightItalic/OpenSans-LightItalic.eot?#iefix") format("embedded-opentype"), url("./fonts/LightItalic/OpenSans-LightItalic.woff2") format("woff2"), url("./fonts/LightItalic/OpenSans-LightItalic.woff") format("woff"), url("./fonts/LightItalic/OpenSans-LightItalic.ttf") format("truetype"), url("./fonts/LightItalic/OpenSans-LightItalic.svg#OpenSansLightItalic") format("svg");
}
@font-face {
  font-family: 'OpenNormal';
  font-weight: normal;
  font-style: normal;
  src: url("./fonts/Regular/OpenSans-Regular.eot");
  src: url("./fonts/Regular/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), url("./fonts/Regular/OpenSans-Regular.woff2") format("woff2"), url("./fonts/Regular/OpenSans-Regular.woff") format("woff"), url("./fonts/Regular/OpenSans-Regular.ttf") format("truetype"), url("./fonts/Regular/OpenSans-Regular.svg#OpenSansRegular") format("svg");
}
@font-face {
  font-family: 'Open Sans';
  font-weight: normal;
  font-style: italic;
  src: url("./fonts/Italic/OpenSans-Italic.eot");
  src: url("./fonts/Italic/OpenSans-Italic.eot?#iefix") format("embedded-opentype"), url("./fonts/Italic/OpenSans-Italic.woff2") format("woff2"), url("./fonts/Italic/OpenSans-Italic.woff") format("woff"), url("./fonts/Italic/OpenSans-Italic.ttf") format("truetype"), url("./fonts/Italic/OpenSans-Italic.svg#OpenSansItalic") format("svg");
}
@font-face {
  font-family: 'OpenSemibold';
  font-weight: 600;
  font-style: normal;
  src: url("./fonts/Semibold/OpenSans-Semibold.eot");
  src: url("./fonts/Semibold/OpenSans-Semibold.eot?#iefix") format("embedded-opentype"), url("./fonts/Semibold/OpenSans-Semibold.woff2") format("woff2"), url("./fonts/Semibold/OpenSans-Semibold.woff") format("woff"), url("./fonts/Semibold/OpenSans-Semibold.ttf") format("truetype"), url("./fonts/Semibold/OpenSans-Semibold.svg#OpenSansSemibold") format("svg");
}
@font-face {
  font-family: 'Open Sans';
  font-weight: 600;
  font-style: italic;
  src: url("./fonts/SemiboldItalic/OpenSans-SemiboldItalic.eot");
  src: url("./fonts/SemiboldItalic/OpenSans-SemiboldItalic.eot?#iefix") format("embedded-opentype"), url("./fonts/SemiboldItalic/OpenSans-SemiboldItalic.woff2") format("woff2"), url("./fonts/SemiboldItalic/OpenSans-SemiboldItalic.woff") format("woff"), url("./fonts/SemiboldItalic/OpenSans-SemiboldItalic.ttf") format("truetype"), url("./fonts/SemiboldItalic/OpenSans-SemiboldItalic.svg#OpenSansSemiboldItalic") format("svg");
}
@font-face {
  font-family: 'Open Sans';
  font-weight: bold;
  font-style: normal;
  src: url("./fonts/Bold/OpenSans-Bold.eot");
  src: url("./fonts/Bold/OpenSans-Bold.eot?#iefix") format("embedded-opentype"), url("./fonts/Bold/OpenSans-Bold.woff2") format("woff2"), url("./fonts/Bold/OpenSans-Bold.woff") format("woff"), url("./fonts/Bold/OpenSans-Bold.ttf") format("truetype"), url("./fonts/Bold/OpenSans-Bold.svg#OpenSansBold") format("svg");
}
@font-face {
  font-family: 'OpenBold';
  font-weight: bold;
  font-style: italic;
  src: url("./fonts/BoldItalic/OpenSans-BoldItalic.eot");
  src: url("./fonts/BoldItalic/OpenSans-BoldItalic.eot?#iefix") format("embedded-opentype"), url("./fonts/BoldItalic/OpenSans-BoldItalic.woff2") format("woff2"), url("./fonts/BoldItalic/OpenSans-BoldItalic.woff") format("woff"), url("./fonts/BoldItalic/OpenSans-BoldItalic.ttf") format("truetype"), url("./fonts/BoldItalic/OpenSans-BoldItalic.svg#OpenSansBoldItalic") format("svg");
}
@font-face {
  font-family: 'Open Sans';
  font-weight: 800;
  font-style: normal;
  src: url("./fonts/ExtraBold/OpenSans-ExtraBold.eot");
  src: url("./fonts/ExtraBold/OpenSans-ExtraBold.eot?#iefix") format("embedded-opentype"), url("./fonts/ExtraBold/OpenSans-ExtraBold.woff2") format("woff2"), url("./fonts/ExtraBold/OpenSans-ExtraBold.woff") format("woff"), url("./fonts/ExtraBold/OpenSans-ExtraBold.ttf") format("truetype"), url("./fonts/ExtraBold/OpenSans-ExtraBold.svg#OpenSansExtrabold") format("svg");
}
@font-face {
  font-family: 'Open Sans';
  font-weight: 800;
  font-style: italic;
  src: url("./fonts/ExtraBoldItalic/OpenSans-ExtraBoldItalic.eot");
  src: url("./fonts/ExtraBoldItalic/OpenSans-ExtraBoldItalic.eot?#iefix") format("embedded-opentype"), url("./fonts/ExtraBoldItalic/OpenSans-ExtraBoldItalic.woff2") format("woff2"), url("./fonts/ExtraBoldItalic/OpenSans-ExtraBoldItalic.woff") format("woff"), url("./fonts/ExtraBoldItalic/OpenSans-ExtraBoldItalic.ttf") format("truetype"), url("./fonts/ExtraBoldItalic/OpenSans-ExtraBoldItalic.svg#OpenSansExtraboldItalic") format("svg");
}
body {
  height: 1300px;
  width: 100%;
  background-image: url(../img/background.jpg);
  background-position: 100% 100%;
  background-size: cover;
  box-sizing: border-box;
}

.container-fluid .text-center {
  font-family: 'OpenLight';
}

.top_menu {
  width: 100%;
  position: absolute;
}

.menu_sections .col-md-3:nth-child(4) {
  background: #b5b5b6;
  height: 35px;
  max-width: 193px;
  border-radius: 9px;
  opacity: 0.6;
  border: 1px solid #a6a6a6;
  padding: 4px;
}

.menu {
  height: 50px;
  width: 100%;
  background-color: #b4b4b4;
  border-bottom: 2px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.menu ul {
  height: 20px;
}
.menu ul li {
  display: inline-block;
  padding: 0 20px 0 20px;
}
.menu ul input {
  border-radius: 25px;
  margin-left: 200px;
  width: 160px;
  height: 20px;
  background-color: #5e5e5e;
}

.top_icon1 {
  background: url(../img/spritesheet.png);
  background-position: -416px 3px;
  width: 20px;
  height: 26px;
  position: absolute;
  left: 35px;
  top: -5px;
}

.top_icon2 {
  background: url(../img/spritesheet.png);
  background-position: -618px 3px;
  width: 20px;
  height: 26px;
  position: absolute;
  left: 8px;
  top: -5px;
}

.top_icon3 {
  background: url(../img/spritesheet.png);
  background-position: -878px 3px;
  width: 20px;
  height: 26px;
  position: absolute;
  left: 1px;
  top: -5px;
}

.top_icon4 {
  background: url(../img/spritesheet.png);
  background-position: -1153px 3px;
  width: 20px;
  height: 26px;
  position: absolute;
  left: 11px;
  top: -1px;
}

.title .title_name {
  font-family: 'OpenLight';
  color: #404040;
  margin-top: 60px;
}
.title .title_name p {
  padding: 40px 0 0 0;
  font-size: 37px;
}
.title .title_name span {
  font-weight: bold;
}

.white_block {
  width: 950px;
  height: 450px;
  background-color: #e6e6e6;
  border-radius: 12px;
  margin-top: 30px;
}
.white_block .white_block_img {
  font-family: 'OpenSemibold';
  background-image: url(../img/img_middle.png);
  background-position: 100% 69%;
  width: 100%;
  height: 270px;
  text-align: center;
  padding-top: 30px;
}
.white_block .white_block_img #img_one_active,
.white_block .white_block_img #img_two_active,
.white_block .white_block_img #img_three_active {
  font-weight: bold;
}
.white_block .white_block_img #white_block_img_three {
  padding-top: 15px;
}
.white_block .slider form {
  position: relative;
  margin: 50px;
  width: 100%;
}
.white_block .slider form input[type=range] {
  -webkit-appearance: none;
  margin: 10px 0;
  width: 90%;
  height: 15px;
  border-radius: 20px;
  background: linear-gradient(180deg, #b5ce18, #9abc27);
}
.white_block .slider form input[type=range]:focus {
  outline: none;
}
.white_block .slider form input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 24px;
  width: 15px;
  background: linear-gradient(180deg, #fcfcfc, #d6d6d6);
  border: 1px solid #9d9d9d;
  cursor: pointer;
}
.white_block .slider form output {
  position: absolute;
  background-image: linear-gradient(2deg, white, #cdcdcd);
  width: 220px;
  height: 60px;
  text-align: center;
  color: #698c00;
  box-shadow: 10px 11px 56px 0px rgba(0, 0, 0, 0.75);
  border: 1px solid #b3b3b3;
  border-radius: 10px;
  display: inline-block;
  bottom: -158%;
  left: 0;
  margin-left: -1%;
}
.white_block .slider form output #slide_value {
  margin: 16px 123px 0 0;
  font-size: 25px;
  font-family: 'OpenSemibold';
  font-weight: bold;
}
.white_block .slider form output:after {
  content: "";
  position: absolute;
  width: 00px;
  height: 0px;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 14px solid #cdcdcd;
  top: -23%;
  left: 50%;
  margin-left: -5px;
  margin-top: -1px;
}
.white_block .slider form output:before {
  content: "Checkout now";
  font-family: 'OpenSemibold';
  position: absolute;
  width: 110px;
  height: 40px;
  background: linear-gradient(179deg, #adc800, #739c00);
  font-size: 14px;
  border: 1px solid #8f8f8f;
  color: black;
  border-radius: 9px;
  top: 18%;
  left: 44%;
  padding: 9px;
}

.under_whitebox {
  margin-top: 74px;
}
.under_whitebox :nth-child(2) {
  margin-top: 40px;
}
.under_whitebox #line_long_one {
  width: 160px;
  height: 2px;
  background-color: #bfbfbf;
  position: absolute;
  margin: 11px 0 0 -205px;
}
.under_whitebox #line_long_two {
  width: 160px;
  height: 2px;
  background-color: #bfbfbf;
  position: absolute;
  margin: 11px 0 0 40px;
}
.under_whitebox #line_long_three {
  width: 64px;
  height: 2px;
  background-color: #bfbfbf;
  position: absolute;
  margin: 11px 0 0 -73px;
}
.under_whitebox #line_long_four {
  width: 48px;
  height: 2px;
  background-color: #bfbfbf;
  position: absolute;
  margin: 13px 0 0 0;
}

.box_row_one {
  font-family: 'OpenSemibold';
}
.box_row_one :nth-child(4) p {
  margin-top: 50px;
}
.box_row_one .icon1 {
  background: url(../img/spritesheet.png);
  background-position: 1px 3px;
  width: 35px;
  height: 36px;
  margin: 0 auto;
}
.box_row_one .icon2 {
  background: url(../img/spritesheet.png);
  background-position: -190px 3px;
  width: 35px;
  height: 36px;
  margin: 0 auto;
}
.box_row_one .icon3 {
  background: url(../img/spritesheet.png);
  background-position: -382px 1px;
  width: 35px;
  height: 36px;
  margin: 0 auto;
}

.box_row_two {
  margin-top: 30px;
  font-family: 'OpenSemibold';
}
.box_row_two .icon4 {
  background: url(../img/spritesheet.png);
  background-position: 1px 36px;
  width: 35px;
  height: 36px;
  margin: 0 auto;
}
.box_row_two .icon5 {
  background: url(../img/spritesheet.png);
  background-position: -190px 36px;
  width: 35px;
  height: 36px;
  margin: 0 auto;
}
.box_row_two .icon6 {
  background: url(../img/spritesheet.png);
  background-position: -388px 36px;
  width: 35px;
  height: 36px;
  margin: 0 auto;
}

.left_arrow {
  background: url(../img/left.png);
  width: 26px;
  height: 26px;
  margin-left: -75px;
}

.right_arrow {
  background: url(../img/right.png);
  width: 26px;
  height: 26px;
  margin-right: -85px;
}
